<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="FireBase WebService by Gary HOUBRE">
	<meta name="author" content="Gary HOUBRE">
	<meta name="keywords" content="Gary, Houbre, Développeur web, Lyon, Firebase, Symfony" />


	<title>{% block title %}Firebase WebService - Démo{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


	<script src="https://use.fontawesome.com/2ef3db8df1.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">


	<style>
		body {
			font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		}
		
		.error-div {
			border: solid 3px red;
			background: yellow;
			margin: 20px 0;
			display: none;
		}
		
	</style>


</head>
<body class="">
{% block body %}
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Firebase WebService - Démo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav navbar-right ml-auto">
					<li class="nav-item">
						<a class="nav-link" target="_blank" href="https://gary-houbre.fr">Developpeur</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" target="_blank" href="https://github.com/TheGarious">Github</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" target="_blank" href="https://www.paypal.me/GaryHOUBRE">Donation</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5">FireBase WebService</h1>
				<p class="lead">Utilitaire pour tester firebase</p>
				<!--<ul style="font-size: 24px" class="list-unstyled">
					<li>Symfony 2/3</li>

				</ul>-->
			</div>
			<div class="error-div col-lg-12 text-center">
				<label>Description de l'erreur :</label>
				<p class="error-content"></p>
			</div>
			<div class="col-lg-12 text-center">
				<form class="firebaseForm">
					<div class="form-group">
						<label for="serverKey">Server Key Firebase</label>
						<input required type="text" class="form-control serverKey" id="serverKey" aria-describedby="emailHelp" placeholder="Server Key Firebase ">
						<small  class="form-text text-muted">Clé version Legacy</small>
					</div>
					<div class="form-group">
						<label for="tokenFirebase">Token Firebase</label>
						<input required type="text" class="form-control tokenFirebase" id="tokenFirebase" placeholder="Token Firebase">
					</div>
					<div class="form-group">
						<label for="title">Titre de la notification</label>
						<input type="text" class="form-control title" id="title" placeholder="Titre de la notification">
					</div>
					<div class="form-group">
						<label for="body">Contenu de la notification</label>

						<textarea  class="form-control body" id="body" placeholder="Contenu de la notification"></textarea>
					</div>
					<div class="form-group">
						<label for="data-key">
							Clé Data
						</label>
						<input class="form-control data-key" id="data-key" placeholder="Clé data" type="text" >

					</div>
					<div class="form-group">
						<label for="data-content">
							Contenu Data
						</label>
						<input class="form-control data-content" id="data-content" placeholder="Content data" type="text" >

					</div>
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</form>
			</div>
		</div>

	</div>


{% endblock %}
{% block javascripts %}
	<script>
		$('.firebaseForm').on('submit', function (e) {
			e.preventDefault();
			$('.error-div').css('display', 'none');
			$('.error-content').text("");

			$.ajax({
				url: '{{ url('app_default_sendnotificationfirebase') }}',
				data: {
					serverKey: 	$('.serverKey').val(),
					tokenFirebase: $('.tokenFirebase').val(),
					title: 		$('.title').val(),
					body: 		$('.body').val(),
					badge:		1,
					dataKey:	$('.data-key').val(),
					dataContent: $('.data-content').val()
				}
			})
			.done(function (response) {
					console.log(response);
					if (response.status == 401)
					{
						toastr.error("Erreur veuillez verifier les informations", "Notification");

					}
					else
					{

						if (response.response !== null)
						{
							if (response.response.success > 0)
							{
								toastr.success("Notification a bien été envoyé");
							}
							if (response.response.failure > 0)
							{
								toastr.warning("Des erreurs sont survenus");
								$('.error-div').css('display', 'unset');
								$('.error-content').text(response.response.results[0].error);
							}

						}
					}
				})
			;

		});
	</script>
{% endblock %}
</body>
</html>
